<li><a href="/" target="_blank">首页</a></li>
@Html.Widget("head_menu_mid")
<li class="categoriesBtn" style="border-right:none;">
    <div id="categoriesAll" class="categoriesAll categoriesShow">

        商品分类<i class="iconfont ico-top">∨</i><i class="iconfont ico-bottom">∧</i>

        <script type="text/javascript">
                            $(document).ready(function () {
                                $('.categoriesBtn').on('mouseenter', '.categoriesShow', function () {
                                    $('.categoriesAll').addClass('active');
                                    $('#categoriesAllCon').addClass('active');
                                });
                                $('.categoriesBtn').on('mouseleave', '.categoriesShow', function () {
                                    $('.categoriesAll').removeClass('active');
                                    $('#categoriesAllCon').removeClass('active');
                                });

                            });
        </script>
    </div>
    @Html.Action("TopMenu", "Catalog")
</li>
